DECRYPTION_KEY="some-key"
# MODE="decrypt"
MODE="encrypt"
ITEMCOUNT=3
ITEM1="http://nachet-detector:8080/predictions/detector_120250130"
ITEM2="http://nachet-15spp-classifier:8080/predictions/15spp_120250130"
ITEM3="http://nachet-27spp-classifier:8080/predictions/27spp_120250130"
