NACHET_AZURE_STORAGE_CONNECTION_STRING=
NACHET_STORAGE_URL=
NACHET_DATA=
NACHET_DB_URL=
NACHET_SCHEMA=
NACHET_BLOB_PIPELINE_NAME=
NACHET_BLOB_PIPELINE_VERSION=
NACHET_BLOB_PIPELINE_DECRYPTION_KEY=
NACHET_BLOB_ACCOUNT=
NACHET_BLOB_KEY=
NACHET_MAX_CONTENT_LENGTH="200"
NACHET_VALID_EXTENSION="["jpeg", "jpg", "png", "gif", "bmp", "tiff", "webp"]"
NACHET_VALID_DIMENSION="{"width": 1920, "height": 1080}"
DEV_USER_EMAIL=
NACHET_ENV="local"
NACHET_FRONTEND_PUBLIC_URL="https://nachet.inspection.alpha.canada.ca"
NACHET_FRONTEND_DEV_URL="http://localhost:5173"
BACKEND_DEV_PORT=5174
FRONTEND_DEV_PORT=5173
