PG_TEST_DB="nachet-test-ds"
PG_TEST_USER=""
PG_TEST_PASS=""
PG_TEST_HOST="nachet-db"
PG_TEST_PORT=""

# Required for datastore tests
NACHET_DB_URL=""
NACHET_SCHEMA=""
NACHET_STORAGE_URL=""
NACHET_BLOB_ACCOUNT=""
NACHET_BLOB_KEY=""
DEV_USER_EMAIL=""
