PG_TEST_DB="nachet-backend-test"
PG_TEST_USER=""
PG_TEST_PASS=""
PG_TEST_HOST="localhost"
PG_TEST_PORT="12432"

# Required for datastore tests
NACHET_DB_URL="postgresql://[user]:[pass]@localhost:12432/nachet-backend-test"
NACHET_SCHEMA="nachet_0.0.12"
NACHET_STORAGE_URL="DefaultEndpointsProtocol=http;AccountName=[account];AccountKey=[key];BlobEndpoint=http://localhost:12434/[account];"
NACHET_BLOB_ACCOUNT="[account]"
NACHET_BLOB_KEY="[key]"
DEV_USER_EMAIL="test.user@inspection.gc.ca"

# Required environment variables for app.py
NACHET_AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=[account];AccountKey=[key];BlobEndpoint=http://localhost:12434/[account];"
NACHET_DATA="https://raw.githubusercontent.com/ai-cfia/nachet-data/main/"
NACHET_ENV="local"
NACHET_VALID_EXTENSION="["jpeg", "jpg", "png", "gif", "bmp", "tiff", "webp"]"
NACHET_VALID_DIMENSION="{"width": 1920, "height": 1080}"
NACHET_MAX_CONTENT_LENGTH="16"
