global
    daemon
    log stdout local0 info
    stats socket /var/run/haproxy.sock mode 600 level admin
    stats timeout 30s

defaults
    mode http # L7
    log global
    option httplog
    option dontlognull
    option redispatch
    retries 3
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    timeout http-request 10s
    timeout http-keep-alive 2s
    timeout check 10s

# HAProxy health check
frontend health_check
    bind *:80
    acl health_path path_beg /health
    use_backend health_backend if health_path
    default_backend primary_backend

# Health backend (on-prem and cloud)
backend health_backend
    http-request return status 200 content-type "text/plain" string "OK"

# Primary backend with failover logic
backend primary_backend
    option httpchk GET /health
    http-check expect status 200
    
    server on_prem nachet.inspection.alpha.canada.ca:443 ssl check inter 10s fall 3 rise 2

    server cloud_fallback nginx.whitesky-3e021e0c.canadacentral.azurecontainerapps.io:443 ssl check backup inter 10s fall 3 rise 2

# HTTPS frontend (TLS terminason is done at this lvl)
frontend https_frontend
    bind *:443 ssl crt /etc/ssl/certs/server.pem
    default_backend primary_backend