html {
  font-family: Arial;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

#container_with_scrolls::-webkit-scrollbar {
  display: none;
}

#container_with_scrolls {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial;
}

/* Toolbar button styling */
.freeform-toolbar-button {
  border-radius: 0;
  max-height: 25px;
  max-width: 25px;
}

.freeform-toolbar-button-blue {
  color: blue;
}

.freeform-toolbar-button-green {
  color: green;
  margin-right: 10px;
  margin-left: 10px;
}

.freeform-toolbar-button-grey {
  color: grey;
  margin-right: 10px;
  margin-left: 10px;
}

.freeform-toolbar-button-red {
  color: red;
}
